body {
    direction: rtl !important;
    text-align: right !important;
}
li {
    list-style: none;
}
a,a:hover,a:visited {
    text-decoration: none !important;
}
.course-banner {
    height: 450px;
}
.card-image {
    height: 230px;
}
.main-slider {
    height: 660px !important;
    opacity: 0.8 ;
}
.course-intro-shadow {
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.course-title {
    top: 50%;
    right:0;
}
